In [17]:
import pandas as pd

In [18]:
housing_raw_2020 = pd.read_csv("/Users/anukul/Desktop/Anukul/Learning/DataScience/Obtaining/housing-2020.csv", header=None)
housing_raw_2021 = pd.read_csv("/Users/anukul/Desktop/Anukul/Learning/DataScience/Obtaining/housing-2021.csv", header=None)
housing_raw_2022 = pd.read_csv("/Users/anukul/Desktop/Anukul/Learning/DataScience/Obtaining/housing-2022.csv", header=None)
housing_raw_2023 = pd.read_csv("/Users/anukul/Desktop/Anukul/Learning/DataScience/Obtaining/housing-2023.csv", header=None)

In [19]:
combined_housing_raw = pd.concat([housing_raw_2020, housing_raw_2021, housing_raw_2022, housing_raw_2023], ignore_index=True)

This block filters the combined data for rows where the 14th column (index 13) equals "CORNWALL". It then selects and renames the relevant columns. The Year column is converted to a date format, and a new column short_postal_code is created by taking the first part of the Postcode. Empty strings in Postcode and short_postal_code are replaced with "Not available". Finally, duplicate rows are removed.

In [20]:
housing_cornwall = combined_housing_raw[combined_housing_raw[13] == "CORNWALL"]
housing_cornwall = housing_cornwall[[0, 1, 2, 3, 4, 11, 12, 13]]
housing_cornwall.columns = ["sell_id", "house_sell_price", "sold_year", "postcode", "house-type", "town/city", "district", "county"]
housing_cornwall["sold_year"] = pd.to_datetime(housing_cornwall["sold_year"]).dt.date
housing_cornwall["short_postal_code"] = housing_cornwall["postcode"].str.split().str[0]
housing_cornwall["postcode"] = housing_cornwall["postcode"].replace("", "Not available")
housing_cornwall["short_postal_code"] = housing_cornwall["short_postal_code"].replace("", "Not available")
housing_cornwall = housing_cornwall[housing_cornwall["postcode"] != "Not available"]
housing_cornwall = housing_cornwall.drop_duplicates()

In [21]:
housing_cornwall.to_csv("/Users/anukul/Desktop/Anukul/Learning/DataScience/Cleaning/cleaned-data/cornwall-cleaned.csv", index=False)

This block filters the data for rows where the county is "CITY OF BRISTOL" and follows the same steps as for Cornwall. Additionally, it filters out rows with incorrect cities under Bristol. Finally, duplicate rows are removed. To write cleaner code, I have used method chaining here. I was familiar with method chaining much later.

In [22]:
housing_bristol=(combined_housing_raw[combined_housing_raw[13] == "CITY OF BRISTOL"]
                .loc[:, [0, 1, 2, 3, 4, 11, 12, 13]]
                .rename(columns={0: "sell_id", 1: "house_sell_price", 2: "sold_year", 3: "postcode", 
                                 4: "house-type", 11: "town/city", 12: "district", 13: "county"})
                .assign(sold_year=lambda x: pd.to_datetime(x["sold_year"]).dt.date,
                short_postal_code=lambda x: x["postcode"].str.split().str[0])
                .replace({"postcode": "", "short_postal_code": ""}, "Not available")
                .query("postcode != 'Not available' and not (county == 'CITY OF BRISTOL' and `town/city` in ['LONDON', 'WELLS', 'WESTON-SUPER-MARE'])")
                .drop_duplicates())

In [23]:
housing_bristol

,sell_id,house_sell_price,sold_year,postcode,house-type,town/city,district,county,short_postal_code
15974,{AC07BBCF-D90F-0445-E053-6C04A8C01E31},306500,2020-05-29,BS14 8NR,S,BRISTOL,CITY OF BRISTOL,CITY OF BRISTOL,BS14
15975,{AC07BBCF-D910-0445-E053-6C04A8C01E31},559000,2020-03-24,BS3 1PE,T,BRISTOL,CITY OF BRISTOL,CITY OF BRISTOL,BS3
15976,{AC07BBCF-D911-0445-E053-6C04A8C01E31},265000,2020-06-30,BS5 8DY,T,BRISTOL,CITY OF BRISTOL,CITY OF BRISTOL,BS5
16283,{AC07BBCF-D912-0445-E053-6C04A8C01E31},328222,2020-06-03,BS7 9LT,F,BRISTOL,CITY OF BRISTOL,CITY OF BRISTOL,BS7
16284,{AC07BBCF-D913-0445-E053-6C04A8C01E31},154700,2020-06-30,BS3 3NB,F,BRISTOL,CITY OF BRISTOL,CITY OF BRISTOL,BS3
...,...,...,...,...,...,...,...,...,...
3904423,{152AB734-6B29-E651-E063-4704A8C061D9},165000,2023-12-05,BS15 1EL,F,BRISTOL,CITY OF BRISTOL,CITY OF BRISTOL,BS15
3904424,{152AB734-6B2A-E651-E063-4704A8C061D9},185000,2023-12-05,BS15 1EL,F,BRISTOL,CITY OF BRISTOL,CITY OF BRISTOL,BS15
3904425,{152AB734-6B2C-E651-E063-4704A8C061D9},320000,2023-10-26,BS16 1UD,T,BRISTOL,CITY OF BRISTOL,CITY OF BRISTOL,BS16
3904426,{152AB734-6B2D-E651-E063-4704A8C061D9},80000,2023-11-17,BS14 9HY,F,BRISTOL,CITY OF BRISTOL,CITY OF BRISTOL,BS14
3904427,{152AB734-6B2E-E651-E063-4704A8C061D9},190000,2023-12-11,BS16 3DW,F,BRISTOL,CITY OF BRISTOL,CITY OF BRISTOL,BS16

In [24]:
housing_bristol.to_csv("/Users/anukul/Desktop/Anukul/Learning/DataScience/Cleaning/cleaned-data/bristol-cleaned.csv", index=False)

In [25]:
housing_cleaned = pd.concat([housing_cornwall, housing_bristol], ignore_index=True)
housing_cleaned.to_csv("/Users/anukul/Desktop/Anukul/Learning/DataScience/Cleaning/cleaned-data/housing-cleaned.csv", index=False)

In [26]:
housing_cleaned.head(10)

,sell_id,house_sell_price,sold_year,postcode,house-type,town/city,district,county,short_postal_code
0,{A2479555-288F-74C7-E053-6B04A8C0887D},86828,2020-02-27,TR27 5HL,T,HAYLE,CORNWALL,CORNWALL,TR27
1,{A2479555-2892-74C7-E053-6B04A8C0887D},205000,2020-02-14,TR27 4AD,T,HAYLE,CORNWALL,CORNWALL,TR27
2,{A2479555-2893-74C7-E053-6B04A8C0887D},183000,2020-02-28,TR27 6JQ,T,HAYLE,CORNWALL,CORNWALL,TR27
3,{A2479555-2894-74C7-E053-6B04A8C0887D},111500,2020-02-24,PL14 4HU,S,LISKEARD,CORNWALL,CORNWALL,PL14
4,{A2479555-2895-74C7-E053-6B04A8C0887D},235000,2020-02-12,PL30 3LF,S,BODMIN,CORNWALL,CORNWALL,PL30
5,{A2479555-2896-74C7-E053-6B04A8C0887D},270000,2020-03-04,TR11 4AF,S,FALMOUTH,CORNWALL,CORNWALL,TR11
6,{A2479555-2897-74C7-E053-6B04A8C0887D},290000,2020-02-28,TR11 4SG,D,FALMOUTH,CORNWALL,CORNWALL,TR11
7,{A2479555-2899-74C7-E053-6B04A8C0887D},315000,2020-02-19,PL30 5JZ,S,BODMIN,CORNWALL,CORNWALL,PL30
8,{A2479555-289A-74C7-E053-6B04A8C0887D},480000,2020-02-14,TR10 9HH,D,PENRYN,CORNWALL,CORNWALL,TR10
9,{A2479555-289B-74C7-E053-6B04A8C0887D},150015,2020-02-14,TR15 2NH,S,REDRUTH,CORNWALL,CORNWALL,TR15